html
  head
    title My First Express App
    block styles 
      link(rel="stylesheet", href="styles/style.css")
  body 
    .container
      h1(style="color: #034") Welcome to the My first Express site
      block content
      block scripts
        script(src="scripts/script.js")
