extends includes/layout.pug

block styles 
  link(rel="stylesheet", href="../styles/style.css")

block content
  if(err) 
    script= console.log(err)
  form(action="/content/new" method="post")
    textarea(type="text" name="message" maxlength="100" placeholder="Enter your message")
    input(type="tel" name="phone" maxlength="11" placeholder="Example 374-33-33-33-33")
    button(type="submit") Create
  button.addButton 
    a(href="/") Go home
block scripts 
  script(src="../scripts/script.js")

  